@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-default: #ABB2BF;
  --color-text-active: #FFFFFF;
}

/* Custom global styles */
body {
  background-color: #282C33;
  color: var(--color-text-default);
  font-family: 'Fira Code', monospace;
}
